[user]
  email = cristobalgajardo.v@gmail.com
  name = Cristóbal Gajardo Vera
 
[alias]
  co = checkout
  sw = switch
  ci = commit
  st = status
  br = branch
  d = diff
  hist = log --graph --abbrev-commit --decorate --date=format:'%a %d %b %Y %H:%M' --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	ignore = "!gi() { IFS=\",\"; curl -L -s \"https://www.toptal.com/developers/gitignore/api/$*\" | tee .gitignore;}; gi"
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
 
[init]
  defaultBranch = main
 
[core]
  safecrlf = warn
  editor = nvim
 
[push]
  autoSetupRemote = true

# Git-Delta configuration
[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true # use n and N to move between diff sections
  light = false # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true # show line numbers

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

# Conditional configuration based on OS
 
[includeIf "gitdir/i:C:/"]
  path = ~/.gitconfig-windows
 
[includeIf "gitdir/i:D:/"]
  path = ~/.gitconfig-windows
 
[includeIf "gitdir/i:Users/"]
  path = ~/.gitconfig-macos
 
[include]
  path = ~/.gitconfig-custom
