""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" Install IdeaVim-EasyMotion and AceJump extensions first
Plug 'easymotion/vim-easymotion'

""" Plugin settings -------------------------
"let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set relativenumber
set number
set scrolloff=5
set incsearch
set hlsearch

""" Idea specific settings ------------------
set ideajoin
set idearefactormode=keep
"set ideastatusicon=gray

""" Mappings --------------------------------
"EasyMotion
nmap f <Plug>(easymotion-bd-f)

"NERDtree
nnoremap <Leader>e :NERDTreeToggle<CR>

"Selection improvement
nnoremap <S-Left> :action EditorLeftWithSelection<CR>
nnoremap <S-Right> :action EditorRightWithSelection<CR>
nnoremap <S-Up> :action EditorUpWithSelection<CR>
nnoremap <S-Down> :action EditorDownWithSelection<CR>